.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  margin: 60px 0;
}
.headingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  border: 1px solid #002664;
  max-width: 800px;
  margin-top: -80px;
}

.left {
  flex: 1;
  padding-right: 20px;
}

.photo {
  position: relative;
  width: 100%;
  max-width: 300px;
}
.photoBox {
  padding: 2px;
  max-height: 300px;
  width: auto;
  border: 1px solid #002664;
  overflow: hidden;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.photoBox img {
  max-width: 100%;
  max-height: 100%;
}

.right {
  flex: 2;
  padding-left: 20px;
}
.cancelButton {
  padding: 5px 10px;
  position: relative;
}

.cancelButton:focus
{
  background-color: #d7143a;
}
.cancelButton:hover::after {
  content: "Remove The Image";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9);
  color: #002664;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;

  transform: translateY(-100%);

  white-space: nowrap;
}

.errorInput {
  border: 2px solid #d7143a !important;
}
.errorText {
  margin-bottom: -16px;
  color: #d7143a;
  font-size: 12px;
}

form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
  
}

input[readonly] {
  background-color: rgb(231, 227, 227);
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}
textarea {
  resize: none;
}
input[type="text"],
input[type="date"],
input[type="number"],
select,
textarea {
  color: #002664;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.registerPetButton {
  font-size: small;
  margin: 5px;
  padding: 10px 20px;
  background-color: #002664;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.registerPetButton:hover {
  background-color: #d7143a;
}

.registerPetButton:focus{
  background-color: #d7143a;
}
@media (max-width: 650px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
  .left {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;
  }
  .right {
    padding: 0;
  }
}
