.ownerContainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}
.ownerText {
  text-align: center;
  margin-top: 20px;
  font-size: 20px
}
.ownerForm {
  padding: 20px;
}
